package ingredients

import "josephwest2/meal-list/lib/sqlc"
import "strconv"

templ Ingredients(ingredients []sqlc.Ingredient, categories []sqlc.IngredientCategory) {
    // TODO ingredients page
    <h2>Ingredients</h2>
    <form action="/ingredients" method="POST">
        <label for="ingredient-name">Name:</label>
        <input type="text" id="ingredient-name" name="ingredient-name" required>
        <label for="ingredient-category">Category:</label>
        <select id="ingredient-category" name="ingredient-category" required>
        for _, category := range categories {
            <option value={ strconv.FormatUint(uint64(category.ID), 10) }>{ category.Name }</option>
        }
        </select>
        <button class="btn" type="submit">Create</button>
    </form>
    <table>
        for _, ingredient := range ingredients {
            {{id := strconv.FormatUint(uint64(ingredient.ID), 10)}}
            <tr data-ingredient-id={id}>
                <td><input data-toggleable data-default={ingredient.Name} disabled class="ingredient-input" type="text" value={ ingredient.Name }></td>
                <td>
                    <select data-toggleable data-default={strconv.FormatUint(uint64(ingredient.CategoryID), 10)} disabled class="ingredient-input" type="text" value={ ingredient.Category.Name }>
                    for _, category := range categories {
                        {{ categoryIDString := strconv.FormatUint(uint64(category.ID), 10) }}
                        if category.ID == ingredient.CategoryID {
                            <option selected value={categoryIDString}>{ category.Name }</option>
                        } else {
                            <option value={categoryIDString}>{ category.Name }</option>
                        }
                    }
                    </select>
                </td>
                <td>
                    <button data-toggle-button onclick={templ.JSFuncCall("ToggleEditIngredient", ingredient.ID)}>Edit</button>
                    <button data-toggleable disabled onclick={templ.JSFuncCall("UpdateIngredient", ingredient.ID)}>Update</button>
                    <button data-toggleable disabled onclick={templ.JSFuncCall("DeleteIngredient", ingredient.ID)}>Delete</button>
                </td>
            </tr>
        }
    </table>
    <script>
        function ToggleEditIngredient(id) {
            const toggleables = document.querySelectorAll(`[data-ingredient-id='${id}'] [data-toggleable]`)
            toggleables.forEach(element => {
                element.disabled = !element.disabled
            })
            const toggleButton = document.querySelector(`[data-ingredient-id='${id}'] button[data-toggle-button]`)
            const isCancel = toggleButton.innerText == "Cancel"
            toggleButton.innerText = toggleButton.innerText == "Edit" ? "Cancel" : "Edit"

            if (isCancel) {
                const input = document.querySelector(`[data-ingredient-id='${id}'] input`)
                const select = document.querySelector(`[data-ingredient-id='${id}'] select`)
                input.value = input.getAttribute("data-default")
                select.value = select.getAttribute("data-default")
            }
        }

        async function UpdateIngredient(id) {
            const input = document.querySelector(`[data-ingredient-id='${id}'] input`)
            const select = document.querySelector(`[data-ingredient-id='${id}'] select`)
            const name = input.value
            const category = select.value
            console.log(name, category)

            const formData = new FormData()
            formData.append("name", name)
            formData.append("category", category)
            formData.append("listName", )

            res = await fetch(`/ingredients/${id}`, {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    name: name,
                    category: Number(category)
                })
            })

            if (res.ok) {
                alert("Success: ", res.statusText, res.body)
                input.setAttribute("data-default", name)
                select.setAttribute("data-default", category)
                ToggleEditIngredient(id)
            } else {
                alert(res.statusText, res.body)
            }

        }

        async function DeleteIngredient(id) {
            res = await fetch(`/ingredients/${id}`, {
                method: "DELETE"
            })
            if (res.ok) {
                alert("Success: ", res.statusText, res.body)
                document.querySelector(`tr[data-ingredient-id='${id}']`).remove()
            } else {
                alert(res.statusText, res.body)
            }

        }
    
    </script>

}
