package about

import (
	"josephwest2/meal-list/pages"
    "josephwest2/meal-list/lib/app"
    "net/http"
)

func Get(context *app.AppContext) http.HandlerFunc {
    return func(w http.ResponseWriter, r *http.Request) {
        pages.RenderPage(context, "About", About(), nil, w, r)
    }
}

templ About() {
    <h4>ABOUTTTTTTTT</h4>
}