package recipe

import (
    "josephwest2/meal-list/lib/sqlc"
    "strconv"
)

templ Recipe(recipe *sqlc.Recipe, categories []sqlc.RecipeCategory, ingredients []sqlc.GetRecipeAssociatedIngredientsAndUnitsRow, directionsParsed []string) {
    <h2>{ recipe.Name }</h2>
    <h3>Categories:</h3>
    for _, category := range categories {
        <p>{ category.Name }</p>
    }
    <a target="_blank" class="inline-link" href={ templ.SafeURL(recipe.SourceUrl.String) }>Source</a>
    <img class="recipe-image" src={ "/static/recipeImages/" + recipe.ImageFilename } alt={ "Image of " + recipe.Name }>
    <h3>Ingredients</h3>
    <table class="ingredient-table">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Unit</th>
        </tr>
        for _, ingredient := range ingredients {
            <tr>
                <td>{ ingredient.Name }</td>
                <td>{ strconv.FormatFloat(float64(ingredient.Quantity), 'f', 2, 64) }</td>
                <td>{ ingredient.Category.UnitCategory}</td>
            </tr>
        }
    </table>
    <h3>Directions</h3>
    <div class="directions-container">
    for _, direction := range directionsParsed {
        <p>{ direction }</p>
    }
    </div>
    <button class="btn" onclick={templ.JSFuncCall("addRecipeToList", recipe.ID)}>Add to List</button>

    <script>
        async function addRecipeToList(recipeID) {
            const res = await fetch("/api/addRecipeToList/" + recipeID, {
                method: "POST"
            });
            if (res.ok) {
                alert("Successfully added recipe to list");
            };
        };
    
    </script>
}
